:root{
  --primary-color: dimgray;
  --secondary-color: white;
  --primary-duration: 1s;
}
#app a {
  color: inherit;
}
#quote-box {
  text-align: center;
  margin: auto;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  transition-property: background-color color;
  max-width: 34.375em;
  justify-self: stretch;
  grid-gap: 1.5em;
  padding: 2.5em 3.125em;
  box-sizing: border-box;
  display: grid;
  grid-template-areas: "mark ." "quote quote" "cite cite" "links buttons";
  border-radius: 0.25em;
  transition-duration: var(--primary-duration);
}
#text {
  margin: 0;
  grid-area: quote;
  font-size: 2em;
}
#author {
  display: list-item;
  list-style: '- ';
  grid-area: cite;
  justify-self: flex-end;
  font-style: normal;
}
#new-quote {
  grid-area: buttons;
  border: none;
  border-radius: 0.25em;
  box-sizing: border-box;
  padding: 0 1em;
  background-color: var(--primary-color);
  transition-property: color background-color;
  transition-duration: var(--primary-duration);
  color: var(--secondary-color);
  justify-self: flex-end;
  align-self: stretch;
  min-height: 2.5em;
  font-weight: bold;
}
#tweet-quote {
  transition-property: background-color;
  transition-duration: var(--primary-duration);
  align-self: stretch;
  border-radius: 0.25em;
  grid-area: links;
  justify-self: flex-start;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 2.5em;
  min-height: 2.5em;
}
#mark {
  grid-area: mark;
  height: 3em;
  width: auto;
  transform: rotate(180deg);
}
#mark > g {
  transition-property: fill;
  transition-duration: var(--primary-duration);
  fill: var(--primary-color)
}
#twitter-logo {
  height: 1.5em;
  width: auto;
}
#twitter-logo > g {
  transition-property: fill;
  transition-duration: var(--primary-duration);
  fill: var(--secondary-color);
}
#source {
  text-align: center;
  transition-duration: var(--primary-duration);
  transition-property: color border;
  color: var(--secondary-color);
  text-decoration: none;
  border: thick double var(--secondary-color);
  border-radius: 1em;
  max-width: 17em;
  padding: 1em;
}
#app {
  margin: 0;
  font-family: sans-serif;
  background-color: var(--primary-color);
  transition-duration: var(--primary-duration);
  transition-property: background-color;
  color: var(--secondary-color);
  display: grid;
  min-height: 100vh;
  align-content: center;
  justify-items: center;
  padding: 1em;
  box-sizing: border-box;
  grid-gap: 1em;
}
@media (max-width: 40em), (max-height: 40em) {
  #text {
    font-size: 1em;
    font-weight: bold;
  }
  #quote-box {
    grid-row-gap: 0.75em;
    padding: 1em 1.5em;
    max-width: 26em;
  }
  body {
    padding: 0.5em;
  }
  #mark {
    height: 2em;
  }
}