body {
    padding: 0;
    margin: 0;
}
#repo-link {
    background-color: #ff450050;
    color: #ffffff50;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0.5em;
    font-weight: bold;
    text-decoration: none;
    padding: 0.25em 0.5em;
    transition: background-color 0.1s
}
#repo-link:hover,
#repo-link:focus {
    background-color: orangered;
    color: white;
}